*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  display: grid;
  justify-content: center;
  align-items: center;
}

.qrbox {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-row-gap: 10px;
  overflow: hidden;
}

img {
  height: 300px;
  width: 300px;
  padding: 1rem;
  border: 2px solid #33D7FF;
  border-radius: 0.5rem;
  grid-column: 1 / -1;
}

textarea {
  outline: none;
  height: 100px;
  padding: 1rem;
  border: 2px solid #33D7FF;
  border-radius: 0.5rem;
  grid-column: 1 / -1;
}

button {
  font-size: 1rem;
  color: #000000;
  text-decoration: none;
  border: none;
  outline: none;
  background-color: #33D7FF;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  transition: background-color 0.2s;
}
button:hover {
  background-color: #059BBF;
}
